body{
    margin: 0;
}
.bg-brown{
    background: rgb(35, 35, 35);
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
}
.image{
    background-image: url(https://mobirise.com/extensions/woodm4/assets/images/background18.jpg);
    /* height: 100vh; */
    background-size: cover;
    position: relative;
}
.mazda{
    margin-left: 50%;
    padding: 100px 30px 100px 0;
    color:#fff;
}
h1{
    font-family: Reem Kufi;
    font-size:70px;
    margin:0;
}
p span{
    font-family: Mulish;
}
span{
    font-size:15px;
    line-height: 20px;
}
p{
    font-size:20px;
    
}