* {
    margin: 0;
    padding: 0;
}
.container{
    max-width: 1900px;
    width: 100%;
    margin: auto;
    padding: 0 20px;
    box-sizing: border-box;
}
.kia{
    display:flex;
    background: #f1eeea;
    justify-content: space-between;
    width: 100%;
    height: 75px;
    position: fixed;
    top: 0;
    z-index: 1000;
}
a{
    text-decoration:none;
    margin: 0 30px;
    color:black;
    font-family: 'Mulish', sans-serif;
    display:block;
    font-size: 20px;
}
.sub-menu li a{
    padding: 10px 0;
    margin-top: 20px;
}
ul {
    list-style-type:none;
}
.lexus,.ford,.woa{
    display:flex;
    z-index: 1000;
    align-items:center;
}
ul li .menu:hover{
    border-bottom: solid 2px #b7976a;
}
.ford .woa li{
    position:relative;
}
ul li .sub-menu{
    display: none;
    position:absolute;
    width: 350px;
}
ul li:hover .sub-menu{
    display:block;
    background:#f1eeea;
    text-align:center;
}
.hakucho{
    border-bottom:solid 1px #f1eeea;
    margin: 10px;
}
.hakucho:hover{
    border-bottom:solid 1px #b7976a;
}
.image{
    height: 50px;
}
.woo{
    font-size: 40px;
    font-family: 'Reem Kufi', sans-serif;
}
.lexus,.ford{
    padding: 10px 50px;

}
.nav{
    border: solid 1px #b7976a;
    padding: 10px 20px;
    color:#b7976a;
}
.nav:hover{
    background:red;
}
.inbox{
    padding: 35px 0;
}
.bg-brown{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
}
.image-1{
    background-image: url(https://mobirise.com/extensions/woodm4/assets/images/background18.jpg);
    background-size: cover;
    position: relative;
}
.mazda{
    margin-left: 45%;
    padding: 200px 0;
    color:#fff;
    margin-right: 20%;

}
h1{
    font-family: Reem Kufi;
    font-size:70px;
    margin:0;
}
.fix-sub{
    font-family: Mulish;
    font-size: 30px;
    padding-top :30px;
}
.fix{
    font-family: Mulish;
    font-size: 20px;
}
.icon-mobile{
    display: none;
}
.Handmade{
   background: #f1eeea;
   padding: 50px 0;
}
.container-sub{
    text-align: center;
    position: absolute;
    top:70px;

}
.hwp{
    position: relative;
    width: 70%;
    margin: auto;
}
.wood-products{
    font-size: 50px;
    font-family: 'Reem Kufi', sans-serif; 
    padding: 50px;
}
.one-and-one{
    font-size: 200px;
    color: #d8d3cb;
    text-align: center;
    font-family: 'Reem Kufi', sans-serif; 
    
}
.font-handmade{
    font-size: 25px;
    color:gray;
    font-family: 'Muli', sans-serif;
}
.bg-container{
    background: #f1eeea;
}
.part-six{
    display:flex;
    padding: 50px 0;
   
}
.part-six-sub{
    padding: 0 10px;
    width:25%;
}
.image-5{
    object-fit:cover;
    width: 100%;
    height: 300px;
}
.money{
    font-size: 30px;
    padding-left: 20px;
     font-family: 'Muli', sans-serif;
}
.aram{
    background-color:#656b50;
    display: flex;
}
.aram-sub1{
    width: 50%;
    margin: 100px; 
}
.aram-sub2{
    width: 50%;
    margin: 50px;
}
.white-letters{
    color: white;
}
.conten-x{
    font-size: 90px;
    padding: 50px 0;
    font-family: 'Reem Kufi', sans-serif;
}
.conten-y{
    font-size:30px;
    font-family: 'Muli', sans-serif;
    font-weight:100;
}
.image-6{
    width: 100%;
    padding-bottom: 50px;
}
.one{
    padding: 15px 0;
}
.fas{
    color:#b7976a;
    padding-top: 15px;
}
.font-sub{
    display:flex;
    width: 100%;
    justify-content: space-between;
    border-bottom: solid 1px #b7976a;
}
.font-sub1{
    display: none;
}
.icon-font:hover .font-sub1{
     display:block;
     color: #fff;
     padding: 10px 0 15px;
 }
 .natural-Materials{
     display: flex;
     width: 70%;
     margin: auto;
     padding: 100px 0;
 }
 .font-one{
     width: 50%;
     padding-left: 100px;
 }
 .font-two{
     width: 50%;
     padding-right: 100px;
 }
 .choose{
     padding-bottom: 50px;
 }
 .YouShould{
     font-size: 50px;
 }
 .eyes{
     padding: 10px 0;
 }
 .image-7{
     width: 90%;
 }
 li{
     padding: 5px 0;
     display: flex;
 }
 .circle{
    background: #ce934a;
    width: 5px;
    height: 5px;
    border: solid 1px #ce934a;
    border-radius: 50px;
    margin: 10px;
}
.image-8{
    background-image: url("https://mobirise.com/extensions/woodm4/assets/images/background4.jpg");
    width: 100%;
    height: 400px;
}
@media screen and (max-width:768px) {
    .container{
        padding: 0;
    }
    a{
        padding: 10px 0;
    }
    .ford{
        padding: 0 10px 0 5px;
        font-size: 13px;
    }
    .lexus{
        padding: 0 5px 0 10px;
    }
    .menu{
        margin: 0 10px;
    }
    .woo{
        margin: 0 10px;
        font-size: 18px
    }
    .mazda{
        text-align: center;
        margin: 0;
    }
    .kia{
        position: relative;
    }
    .ford{
        position: absolute;
        top:75px;
        left: 0;
        flex-direction: column;
        background-color:#f1eeea;
        width: 100%;
        display:none;
    }
    .nav{
        text-align: center;
        width: 50%;
        margin: auto;
        margin-bottom: 20px;
    }
    .chevrolet{
     margin: auto;
    }
    .woa{
        flex-direction: column;
    }
    .icon-asum{
        margin: 23px 15px;
    }
    .icon-mobile{
        font-size:20px;
        display: block;
    }
    .icon-asum:hover .ford{
        display:block;
    }
    .aram{
        flex-wrap: wrap;
        padding: 0 20px;
    }
    .aram-sub1{
        width: 100%;
        text-align: center;
        margin: auto;
        padding-bottom: 30px;
    }
    .aram-sub2{
        width: 100%;
        margin: auto;
    }
    .font-handmade{
        width: 100%;
    }
    .image-5{
        width: 100%;
        height: 200px;
    }
    .container{
        max-width: 500px;
    }
    .part-six{
        flex-wrap: wrap;
    }
    .part-six-sub{
        width: 50%;
        box-sizing: border-box;
    }
    .natural-Materials{
        flex-direction: column;
        width: 100%;
        padding-top: 50px;
    }
    .font-one{
        padding: 0;
        width: 100%;
    }
    .image-7{
        width: 100%;
    }
   .font-two{
       width: 100%;
   }
   .YouShould{
       text-align: center;
   }
}
@media screen and (max-width : 992px) and (min-width: 768px){
    .nav{
        margin-top: 10px;
    }
    .ford{
        padding: 0 10px 0 5px;
    }
    .lexus{
        padding: 0 5px 0 10px;
    }
    .menu{
        margin: 0 10px;
        font-size: 15px;
    }
    .woo{
        margin: 0 20px;
        font-size: 30px
    }
    .mazda{
        margin-left:20px;
    }
    h1{
        font-size:60px
    }
    .aram{
        padding:0 30px;
        flex-wrap: wrap;
    }
    .aram-sub1{
        width: 100%;
        text-align: center;
        margin: auto;
        padding-bottom: 30px;
    }
    .aram-sub2{
        width: 100%;
        margin: auto;
    }
   .image-5{
      width: 200px;
      height: 200px;
    }
   .part-six{
      flex-wrap: wrap;
      width: auto;
    }
    .natural-Materials{
        flex-direction: column;
        width: 100%;
    }
    .font-one{
        padding: 0;
        width: 100%;
    }
    .image-7{
        width: 100%;
    }
   .font-two{
       width: 100%;
   }
}
