*{
    margin: 0;
    padding: 0;
}
.aram{
    background-color:#656b50;
    display: flex;
    height: 100vh;
    padding: 30px;
}
.aram-sub1{
    width: 50%;
    margin: 50px;
    padding: 50px;
}
.aram-sub2{
    width: 50%;
    margin: 50px;
    padding: 50px;
}
.white-letters{
    color: white;
}
.conten-x{
    font-size:60px;
    padding-bottom: 30px;
    font-family: 'Reem Kufi', sans-serif;
}
.conten-y{
    font-size:16px;
    font-family: 'Muli', sans-serif
}
.image-6{
    height: 60%;
    width: 100%;
    padding-bottom: 50px;
}
.one{
    padding: 15px 0;
}

.fas{
    color:#b7976a;
    padding-top: 15px;
}
.font-sub{
    display:flex;
    width: 100%;
    justify-content: space-between;
    border-bottom: solid 1px #b7976a;
}
.font-sub1{
    display: none;
}
.icon-font:hover .font-sub1{
     display:block;
     color: #fff;
     padding: 10px 0 15px;
 }
 @media screen and (max-width : 992px) and (min-width : 768px){
  .aram{
      padding:0 30px;
  }
    .aram-sub1{
      margin: 50px;
      padding: 0;
  }
  .aram-sub2{
     margin: 50px;
     padding: 0;
}
 }
 @media screen and (max-width:768px){
    .aram{
        flex-wrap: wrap;
        height:auto;
        text-align: center;
        padding: 0 20px;
    }
    .aram-sub1{
        width: 100%;
        padding: 0;
    }
    .aram-sub2{
        width: 100%;
        padding: 0;
    }
 }